.header{
   background-color: rgb(88, 127, 212);
}

.carousel-item img{
   height: 70vh; 
   width: 100%;
   background-size: cover;
}

.galeria{
   padding-top: 1rem;
}
footer{
   background: #000;
}
.lista{
   list-style: none;
   color: #fff;
}